<!DOCTYPE html>
<html lang="en">
<head>
    <title>help</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/css/styles.css" >
    <link rel = "icon" href="/img/weather.png">
</head>
<body>
    <div class = "main-content">
        {{>header}}
        <h1>HELP PAGE FOR Yogesh Negi</h1>
        <p>Save our friend Yogesh from cancer</p>
        <p>Plz Donate</p>
        <img class="portrait" src = "/img/kartik.jpeg" >

    </div>
    
    {{>footer}}
</body>
</html>